@using System.Web.Optimization
@{
    ViewBag.Title = "Overflow";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


@Scripts.Render("~/overflowJs")
@Styles.Render("~/overflowCss")

<div class="mainDiv">
    <form id="mainForm">
        <table class="mainTable">
            <tr>
                <td style="width: 15%">Tarih : </td>
                <td style="width: 15%">
                    <input id="Date" name="Date" data-type="date" data-format="dd.MM.yyyy" required style="width: 130px;" />
                </td>
                <td colspan="3" style="text-align: left;">
                    <input type="submit" value="Ara" class="k-button" />
                </td>
            <tr class="headerRow">
                <td colspan="3">
                    <div id="ListDiv"></div>
                </td>
            </tr>
            <tr id="TotalOverflowRow">
                <td colspan="3">
                    <strong>Toplam Atılan Su (m3) :</strong>
                    <input type="number" id="TotalOverflowLabel" disabled />
                </td>
            </tr>
        </table>
    </form>
</div>