.body_line_9{
background:#000000;
color:#80c0c0;
}

.h1_line_10{
background:#000080;
font:36pt/40pt courier;
font-variant:small-caps;
border:thick dashed blue;
}

.span_line_10{
margin-left:25px;
}

.div_line_14{
font-weight:bold;
margin-left:30px;
}

.span_line_16{
font-size:x-large;
color:#ffffff;
}

.h2_line_19{
background:#000080;
color:green;
line-height:50px;
font-size:40px;
}

.em_line_19{
font-weight:900;
}

.span_line_24{
font-family:'comic sans ms', fantasy;
color:rgb(100%, 100%, 0%);
}

.li_line_32{
font-size:x-large;
font-style:italic;
}

.blockquote_line_39{
background:#000080;
color:#00ff00;
margin-left:2cm;
}

.span_line_40{
Padding:20px;
border:20px groove #ffffff;
}

.div_line_46{
background:#000080;
font-weight:bold;
margin-left:30px;
}

.span_line_46{
;
}

.p_line_50{
font:12pt/14pt sans-serif;
margin:5px 0px 2px 25px;
border:medium dashed #ff0000;
background:white url(http://www.foo.com/image.gif) repeat-x fixed top right };
}

.span_line_49{
font:36pt/40pt courier;
font-variant:small-caps;
border:thick dashed blue };
}

.h6_line_56{
font-size:xx-small ! important;
color:red ! important;
}

