<div class="mainDiv">
    <form id="mainForm">
        <table class="mainTable">
            <tr>
                <td  class="td_Line_5">Tarih :</td>
                <td  class="td_Line_5">
                    <input id="Date" class="Date">
                </td>
                <td  class="td_Line_9">
                    <input type="submit" value="Ara" class="k-button" />
                </td>
            <tr>
                <td colspan="3" class="emptyRowCell"></td>
            </tr>
   
        </table>
    </form>
</div>