.myDiv{
background-color:red;
font-family:Aharoni;
}

.myTable{
width:100px;
}

.trLocatedOnLine12{
font-size:12px;
}

.trClass{
padding:10px;
margin:0px;
}

.tdLocatedOnLine12{
background-origin:initial;
font-size:large;
}

